h1 { 
    color: blue;

    font-size: 70px;

}

h2 {

    font-size: 60px;

    color: rgb(23, 194, 35);

}  
   
p {
    
    color: orangered;
}

form {
    color: red
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 22px;

    background-color: rgb(145, 217, 235);
}
